.flickv-search-box {
	width: 500px;
	margin: 20px 0;
	position: relative;
	padding-top: 10px;
	padding-left: 5px;
	border: 2px solid RGBA(113, 94, 104, 0.85);
	border-radius: 2px;
}
.flickv-search-box .attrVal {
	width: 80px;
	height: 35px;
	border: none;
	position: relative;
	display: inline;
}
.flicv-search-tag {
	display: inline;
	position: relative;
	border: 3px solid red;
}
.clear-search {
	margin: 30px 20px;
}